*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    font-family: sans-serif;
    display: flex;
    flex-direction: row;    
    background-color: #f4f4f4;
    padding: 20px;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

ul a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.4);
    font-size: 14px;
}

button{
    margin-left: 40px;
    background-color: #8d939e;
    border: none none #8d939e;
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
}