*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 10px;
    gap: 10px;
    width: 46%;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content:left;
    gap: 10px;
}

.box-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-1 p{
    background-color: #f4f4f4;
    text-align: center;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px 20px;
}