*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.news-card {
    background: white;
    width: 700px;
    border-radius: 10px;
}

.news-image {
    position: relative;
    height: 300px;
    background: url('https://www.nbc.com/sites/nbcblog/files/styles/scale_862/public/2024/07/paris-2024-olympics-soccer.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.news-category {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #222;
    color: white;
    padding: 5px 12px;
    font-size: 14px;
    border-radius: 5px;
}

.news-text {
    position: relative;
    z-index: 2;
    text-align: left;
    color: white;
    max-width: 80%;
}

.news-source {
    font-size: 14px;
    color: #ddd;
    margin-bottom: 10px;
}

.news-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.news-description {
    font-size: 14px;
    color: #eee;
}

.pagination {
    display: flex;
    justify-content: right;
    padding: 15px;
    background: white;
}

.pagination button {
    background: #ddd;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination .active {
    background: black;
    color: white;
}

.pagination button:hover {
    background: #bbb;
}
